---
import Layout from "../layouts/Layout.astro";
import SectionIntro from "../sections/SectionIntro.vue";
import SectionProblems from "../sections/SectionProblems.vue";
import Modal from "../components/Modal.vue"
import ModalContent from "../components/ModalContent.vue"
import SectionDecentralizedIdentity from "../sections/SectionDecentralizedIdentity.vue";
---

<Layout title="Welcome to Astro.">
    <main>
		<Modal client:idle>
			<ModalContent client:idle></ModalContent>
		</Modal>
        <SectionIntro client:idle class="z-10" id="intro" />
        <SectionProblems client:idle id="problems" />
        <SectionDecentralizedIdentity client:idle id="identity"></SectionDecentralizedIdentity>
    </main>
</Layout>

<style></style>
