---
import Layout from '../layouts/Layout.astro';
import SectionIntro from '../sections/SectionIntro.vue'
import SectionProblems from '../sections/SectionProblems.vue'
---

<Layout title="Welcome to Astro.">
	<main>
		<SectionIntro client:idle id="intro"></SectionIntro>
		<SectionProblems client:idle id="problems"></SectionProblems>
	</main>
</Layout>

<style>
</style>
