---
import "@fontsource/public-sans/300.css";
import "@fontsource/public-sans/400.css";
import "@fontsource/public-sans/500.css";
import "@fontsource/public-sans/600.css";
import "@fontsource/public-sans/700.css";
import "@fontsource/gochi-hand/400.css";

import TopNavigation from "../components/TopNavigation.vue";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de" class="bg-surface-neutral hyphens-auto">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <TopNavigation client:idle />
        <slot />
    </body>

    <script>
        import "../utils/lenis/lenis";
    </script>
</html>
<style is:global lang="scss">
    @import "../assets/tailwind/tailwind.css";

    :root {
        --scale-action-active: 0.9625;
    }

    html,
    body {
        color: var(--text-neutral);
        caret-color: var(--lime-neutral) !important;
        caret-shape: block !important;
    }
</style>
